# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment folder
rag-agent/

# Ignore Chroma vector database
chroma-langchain-db/

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
chroma-langchain-db/
*.db
*.log
.DS_Store
