streamlit
streamlit-pdf-viewer
langchain
chromadb
sentence-transformers
huggingface-hub
PyMuPDF
pdfplumber
cohere
tiktoken
python-dotenv
pandas
scikit-learn
numpy
scipy
torch
fsspec
requests
jinja2
pydantic
pydantic-settings
openai
watchdog
markdown-it-py
mdurl
pygments
rich
