streamlit
streamlit-pdf-viewer
langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
chromadb
sentence-transformers
huggingface-hub
openai
cohere
pdfplumber
PyMuPDF
python-dotenv
tiktoken
torch
numpy
scikit-learn
pandas

